:root {
  --main-text: #ddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--main-text);
}
body {
  background: #000;
}

div {
  /* border: 1px black solid; */
}

.board-container {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 800px) {
  .board-container {
    flex-direction: row;
    width: 70%;
  }

  .player1-board, .player2-board {
    width: 50%;
    padding: 2rem;
  }
}


.player1-board, .player2-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-top: 2rem;
}

.game-square {
  /* width: 10px; */
  aspect-ratio: 1;
  background-color: #ddd;
  border: 1px solid black;
}

.game-square:hover {
  background-color: #ddddddda
}

header {
  text-align: center;
}