:root {
  --main-text: #ddd;
  --background-color: #000
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--main-text);
}
body {
  background: var(--background-color);
}

div {
  /* border: 1px white solid; */
}

.dialogue {
  margin: 1rem auto;
  width: 80%;
  text-align: center;
}

.playing-board-container{
  width: 50%;
  margin: 0 auto;
  display: none;
  flex-direction: column;
}

.game-setup-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.game-setup-ships-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;  
  text-align: center;
}

.game-setup-ship {
  line-height: 2rem;
}

.setup-ship-square-container {
  display: flex;
  justify-content: center;
}

.setup-ship-square {
  aspect-ratio: 1;
  width: 1rem;
  border: 1px var(--background-color) solid;
  background: var(--main-text);
}

@media only screen and (min-width: 800px) {
  .board-container {
    flex-direction: row;
    width: 70%;
  }

  .game-setup-container {
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .player1-board, .player2-board{
    width: 50%;
    padding: 2rem;
  }

  .game-setup-board {
    width: 50%;
  }
  .game-setup-ships-container {
    display: block;
    text-align: center; 
    font-size: 1.5rem;
  }

  .setup-ship-square {
    width: 1.5rem;
  }
  .game-setup-ship {
    line-height: 2.5rem;
    margin: 2rem;
  }
}


.player1-board, .player2-board, .game-setup-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-top: 2rem;
}

.game-square {
  aspect-ratio: 1;
  background-color: #ddd;
  border: 1px solid black;
}

.game-square:hover {
  background-color: #ddddddda
}

header {
  text-align: center;
}